@using Microsoft.AspNetCore.Identity
@using VZTest.Models.Test
@inject SignInManager<IdentityUser> signInManager
@model AttemptModel
@{
    ViewData["Title"] = "Прохождение теста";
}

@if (!signInManager.IsSignedIn(User))
{
    <h5>Войдите в свой аккаунт</h5>
    return;
}

@if (Model == null)
{
    <h5>Ошибка</h5>
    return;
}

@if (Model.Forbidden)
{
    <h5>Доступ ограничен</h5>
    return;
}

@if (Model.NotFound)
{
    <h5>Попытка не найдена</h5>
    return;
}

<partial name = "_SweetAlertsPartial"></partial>

<script>
        function KeyPress(e)
        {
            switch (e.key)
            {
                case '0':
                case '1':
                case '2':
                case '3':
                case '4':
                case '5':
                case '6':
                case '7':
                case '8':
                case '9':
                case ',':
                break;
                default:
                    e.preventDefault();
                break;
            }
        }

        var flag = true;

        function AskEnd(e)
        {
            if (!flag)
            {
                return;
            }
            e.preventDefault();
            swal({
                title: "Вы уверены?",
                text: "После завершения попытки вы больше не сможете редактировать свои ответы!",
                icon: "warning",
                buttons: true
                })
                .then((end) =>
                {
                    if (end)
                    {
                        flag = false;
                        document.getElementById('main-button').click();
                    }
                });
        }
</script>

<h1 class="text-center">@Model.Test.Title</h1>
<hr>
<form method="post">
    <div class="row container">
        @for (int i = 0; i < Model.Test.Questions.Count; i++)
        {
            Question question = Model.Test.Questions[i];
            <h3 class="mt-2">
                Вопрос #@(question.Number + 1)
                <span class="text-muted">(@question.Balls @WordHelp.Inflect((int)question.Balls, "баллов", "балл", "балл"))</span>
            </h3>
            <h6>
                <span class="text-muted">Задание: </span>
                @question.Title
            </h6>
            @switch (question.Type)
            {
                case QuestionType.Text:
                    @Html.TextAreaFor(m => m.Attempt.Answers[i].TextAnswer)
                    ;
                    break;
                case QuestionType.Date:
                    <input asp-for="Attempt.Answers[i].DateAnswer" type="date" class="form-control" />
                    break;
                case QuestionType.Int:
                    <input asp-for="Attempt.Answers[i].IntAnswer" class="form-control" />
                    break;
                case QuestionType.Double:
                    <input asp-for="Attempt.Answers[i].DoubleAnswer" onkeypress="KeyPress(event);" class="form-control" />
                    break;
                case QuestionType.Radio:
                    @foreach (Option option in question.Options)
                    {
                        <div class="form-check">
                            <input asp-for="Attempt.Answers[i].RadioAnswer" class="form-check-input" type="radio" value="@option.Id">
                            <label class="form-check-label">@option.Title</label>
                        </div>
                    }
                    break;
                case QuestionType.Check:
                    @foreach (Option option in question.Options)
                    {
                        <div class="form-check">
                            <input asp-for="Attempt.Answers[i].CheckAnswer" class="form-check-input" type="checkbox" value="@option.Id">
                            <label class="form-check-label">@option.Title</label>
                        </div>
                    }
                    break;
            }
        }
    </div>
    <div class="container mt-3">
        <div class="text-end">
            <button id = "main-button" type="submit" class="btn btn-outline-primary mx-4" onclick = "AskEnd(event);"><i class="bi bi-send-fill"></i> Завершить</button>
        </div>
    </div>
</form>
