@using Microsoft.AspNetCore.Identity
@using VZTest.Models.Test
@inject SignInManager<IdentityUser> signInManager
@model IEnumerable<TestStatistics>
@{
    ViewData["Title"] = "Публичные тесты";
}

@if (!signInManager.IsSignedIn(User))
{
    <partial name="_AuthorisePartial"/>
    return;
}

@if (Model == null || Model.Count() == 0)
{
    <h5>Здесь пока пусто</h5>
    return;
}

<partial name = "_AjaxPartial"/>
<partial name = "_SweetAlertsPartial"/>
<script src = "~/js/StarScript.js"></script>

<h2><i class="bi bi-list-check"></i> @ViewData["Title"]</h2>
<hr>

<form></form> @*FOR VALIDATION TOKEN*@
<div class="list-group">
    @foreach (TestStatistics testStat in Model)
    {
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <a asp-controller="Test" asp-action="Preview" asp-route-id="@testStat.Test.Id">
                    <h5 class="mb-1">@testStat.Test.Title</h5>
                </a>
                @if (testStat.CurrectUserStarred)
                {
                    <a id="unstar-toggle-@testStat.Test.Id" class="btn btn-outline-success" onclick="StarToggle(@testStat.Test.Id);"><small>@testStat.StarsCount <i class="bi bi-star-fill"></i></small></a>
                }
                else
                {
                    <a id="star-toggle-@testStat.Test.Id" class="btn btn-outline-success" onclick="StarToggle(@testStat.Test.Id);"><small>@testStat.StarsCount <i class="bi bi-star"></i></small></a>
                }
            </div>
            @if (testStat.Test.Description != null)
            {
                <p class="mb-1">@testStat.Test.Description</p>
            }
            else
            {
                <p class="mb-1">Без описания</p>
            }
            <small>ID:@testStat.Test.Id</small>
        </div>
    }
</div>