@using Microsoft.AspNetCore.Identity
@using VZTest.Models.Test
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@inject SignInManager<IdentityUser> signInManager
@model IPagedList<TestStatistics>
@{
    ViewData["Title"] = "Ваши тесты";
}

@if (!signInManager.IsSignedIn(User))
{
    <partial name="Errors/_AuthorisePartial" />
    return;
}

@if (Model == null)
{
    <partial name="Errors/_ErrorPartial" />
    return;
}

<style>
    .full-width{
        width: 100%;
    }

    hr {
        margin: 0.5rem;
    }
</style>

<h2><i class="bi bi-list-stars"></i> @ViewData["Title"]</h2>
<hr id="top-separator">

@if (Model == null || Model.Count() == 0)
{
    <h5>Здесь пока ничего нет, но надеемся, что скоро появится ;)</h5>
    return;
}

@if (ViewBag.TotalPages > 1)
{
    <div style="display:flex; justify-content: center;">
        @Html.PagedListPager(Model, page => Url.Action("MyTests","Test", new {page = page}),
        new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }})
    </div>
    <hr>
}
@foreach (TestStatistics test in Model)
{
    <div class="container" id="test-container-@test.Test.Id" name="test-container">
        <h5><a class="link" asp-controller="Test" asp-action="Preview" asp-route-Id="@test.Test.Id">@test.Test.Title</a></h5>
        <div class="row col-15">
            <div class="col-3">
                <h6>Номер: #@test.Test.Id <a class="btn btn-primary btn-sm" onclick="SetClipboard(@test.Test.Id)"><i id="copyIcon" class="bi bi-clipboard-check"></i></a></h6>
            </div>
            <div class="col-3">
                <h6>Создано: @test.Test.CreatedTime.ToString("dd.MM.yyyy")</h6>
            </div>
            <div class="col-3">
                <h6>Вопросов: @test.QuestionCount</h6>
            </div>
            <div class="col-3">
                <h6>Пройдено: @test.AttemptsCount @WordHelp.Inflect(test.AttemptsCount,"раз","раз","раза")</h6>
            </div>
            <div class="col-3">
                <h6>Звезды: @test.StarsCount</h6>
            </div>
        </div>
        <div class="text-end">
            <form>
                <a asp-controller="Test" asp-action="Results" asp-route-id="@test.Test.Id" class="btn btn-success"><i class="bi bi-file-earmark-text"></i> Результаты</a>
                <a class="btn btn-warning" onclick = "PreEditCheck(@test.Test.Id);"><i class="bi bi-pencil"></i> Редактировать</a>
                @if (test.Test.Opened)
                {
                    <a id="Close-@test.Test.Id" class="btn btn-warning" onclick="OpenToggle(@test.Test.Id);"><i class="bi bi-door-closed"></i> Закрыть</a>
                }
                else
                {
                    <a id="Open-@test.Test.Id" class="btn btn-success" onclick="OpenToggle(@test.Test.Id);"><i class="bi bi-door-open"></i> Открыть</a>
                }
                @if (test.Test.Public)
                {
                    <a id="Private-@test.Test.Id" class="btn btn-warning" onclick="PublicToggle(@test.Test.Id);"><i class="bi bi-door-closed"></i> Приватизировать</a>
                }
                else
                {
                    <a id="Public-@test.Test.Id" class="btn btn-success" onclick="PublicToggle(@test.Test.Id);"><i class="bi bi-door-open"></i> Опубликовать</a>
                }
                <a class="btn btn-danger" onclick="Delete(@test.Test.Id);"><i class="bi bi-trash"></i> Удалить</a>
            </form>
        </div>
    </div>
    <hr id="test-separator-@test.Test.Id">
}
@if (Model.Count() < 5)
{
    <a asp-controller = "Test" asp-action = "Create" class = "btn btn-outline-primary" style = "width: 100%"><i class="bi bi-plus-circle"></i> Добавить</a>
    <hr>
}
@if (ViewBag.TotalPages > 1)
{
    <div class="mt-2" style="display:flex; justify-content: center;">
        @Html.PagedListPager(Model, page => Url.Action("MyTests","Test", new {page = page}),
        new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }})
    </div>
}

@section Scripts
{
    <partial name="_AjaxPartial" />
    <partial name="_SweetAlertsPartial" />
    <script src="~/js/ClipboardScript.js"></script>
    <script src="~/js/DeleteScript.js"></script>
    <script src="~/js/OpenToggleScript.js"></script>
    <script src="~/js/PublicToggleScript.js"></script>
    <script src="~/js/ProcessErrorsScript.js"></script>
    <script src="~/js/PreEditCheck.js"></script>
}