@using Microsoft.AspNetCore.Identity
@using VZTest.Models.Test
@inject SignInManager<IdentityUser> signInManager
@model TestPriviewModel
@{
    ViewData["Title"] = "Предпросмотр теста";
}

@if (!signInManager.IsSignedIn(User))
{
    <h5>Войдите в свой аккаунт!</h5>
    return;
}

@if (Model == null || Model.Forbidden)
{
    <h5>Доступ к опросу закрыт!</h5>
    return;
}

@if (Model.NotFound)
{
    <h5>Такой тест не найден!</h5>
    return;
}

<h2><i class="bi bi-list-check"></i> Информация об опросе #@Model.Test.Id</h2>
<hr>
<span style="white-space: pre-line">Название: <b>@Model.Test.Title</b>
    Описание: <b>@Model.Test.Description</b>
    Максимальное количество попыток: <b>@Model.Test.MaxAttempts</b>
</span>
<span style="white-space: pre-line">Был пройден пользователями платформы <b>@Model.TotalAttempts @WordHelp.Inflect(Model.TotalAttempts,"раз","раз","раза")</b></span>
<hr>
@if (Model.UserAttempts.Count() > 0)
{
    <h5>Ваши попытки:</h5>
    @foreach (Attempt attempt in Model.UserAttempts)
    {
        if (attempt.Active)
        {
            <a asp-controller="Test" asp-action="Attempt" asp-route-id="@attempt.Id">[Активная] Попытка от @attempt.TimeStarted.ToString("dd.MM.yyyy HH:mm:ss")</a>
        }
        else
        {
            <a asp-controller="Test" asp-action="Attempt" asp-route-id="@attempt.Id">[Завершена] Попытка от @attempt.TimeStarted.ToString("dd.MM.yyyy HH:mm:ss")</a>
        }
        <hr>
    }
}
@if (Model.Test.MaxAttempts > Model.UserAttempts.Count())
{
    <form method="post">
        <button class="btn btn-outline-primary" type="submit"><i class="bi bi-check2"></i> Пройти</button>
    </form>
}
else
{
    <h5>Вы исчерпали все попытки в этом тесте</h5>
}