@using Microsoft.AspNetCore.Identity
@using VZTest.Models.Test
@inject SignInManager<IdentityUser> signInManager
@model TestPriviewModel
@{
    ViewData["Title"] = "Предпросмотр теста";
}

@if (!signInManager.IsSignedIn(User))
{
    <h5>Войдите в свой аккаунт!</h5>
    return;
}
@if (Model == null || Model.Forbidden)
{
    <h5>Доступ к опросу закрыт!</h5>
    return;
}
@if (Model.NotFound)
{
    <h5>Такой тест не найден!</h5>
    return;
}

<partial name = "_AjaxPartial"></partial>
<partial name = "_SweetAlertsPartial"></partial>
<partial name = "_StarScriptPartial"></partial>

<style>
h2 {
  display:inline-block;
  float:left;
}
</style>

<script>
var flag = true;

function CheckActive(e,id)
{
    if (!flag)
    {
        return;
    }
    e.preventDefault();
    var verificationValue = document.getElementsByName('__RequestVerificationToken')[0].getAttribute('value');
    $.ajax({
        type: "POST",
        url: "/Test/CheckActiveAttemps/",
        data: { id: id, __RequestVerificationToken: verificationValue },
        error: function (error) {
            switch (error.status) {
                case 401:
                swal("Авторизуйтесь!", "Для того, чтобы пройти тес надо авторизоваться", "error");
                break;
                case 404:
                swal("Элемент не найден!", "Попробуйте снова.", "error");
                break;
            }
        },
        success: function (data) {
            switch (data) {
                case 'Active':
                swal("Ошибка!", "У Вас уже есть активные попытки в этом тесте!", "error");
                break;
                case 'Redirect':
                flag = false;
                document.getElementById('main-button').click();
                break;
            }
        }
    });
}
</script>

<h2><i class="bi bi-list-check"></i> Информация об опросе #@Model.Test.Id</h2>
<div class="pull-left">  
    @if (Model.Liked)
    {
        <a id="unstar-toggle-@Model.Test.Id" class="btn btn-outline-success mx-3" onclick="StarToggle(@Model.Test.Id);"><small>@Model.StarsCount <i class="bi bi-star-fill"></i></small></a>
    }
    else
    {
        <a id="star-toggle-@Model.Test.Id" class="btn btn-outline-success mx-3" onclick="StarToggle(@Model.Test.Id);"><small>@Model.StarsCount <i class="bi bi-star"></i></small></a>
    }
</div>
<hr>
<span style="white-space: pre-line">Название: <b>@Model.Test.Title</b>
    Описание: <b>@Model.Test.Description</b>
    Максимальное количество попыток: <b>@Model.Test.MaxAttempts</b>
</span>
<span style="white-space: pre-line">Был пройден пользователями платформы <b>@Model.TotalAttempts @WordHelp.Inflect(Model.TotalAttempts,"раз","раз","раза")</b></span>
<hr>
@if (Model.UserAttempts.Count() > 0)
{
    <h5>Ваши попытки:</h5>
    @foreach (Attempt attempt in Model.UserAttempts)
    {
        if (attempt.Active)
        {
            <a asp-controller="Test" asp-action="Attempt" asp-route-id="@attempt.Id">[Активная] Попытка от @attempt.TimeStarted.ToString("dd.MM.yyyy HH:mm:ss")</a>
        }
        else
        {
            <a asp-controller="Test" asp-action="Attempt" asp-route-id="@attempt.Id">[Завершена] Попытка от @attempt.TimeStarted.ToString("dd.MM.yyyy HH:mm:ss")</a>
        }
        <hr>
    }
}
@if (Model.Test.MaxAttempts > Model.UserAttempts.Count())
{
    <form method="post">
        <button id = "main-button" class="btn btn-outline-primary" onclick = "CheckActive(event, @Model.Test.Id);" type="submit"><i class="bi bi-check2"></i> Пройти</button>
    </form>
}
else
{
    <h5>Вы исчерпали все попытки в этом тесте</h5>
}