@using Microsoft.AspNetCore.Identity
@using VZTest.Models.Test
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model TestResultsModel
@{
    ViewData["Title"] = "Результаты теста";
}

@if (!signInManager.IsSignedIn(User))
{
    <h5>Войдите в свой аккаунт</h5>
    return;
}

@if (Model == null)
{
    <h5>Ошибка</h5>
    return;
}

@if (Model.NotFound)
{
    <h5>Попытка не найдена</h5>
    return;
}

@if (Model.Forbidden)
{
    <h5>Доступ ограничен</h5>
    return;
}

<style>
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

<link rel="stylesheet" href="~/css/PercentCircle.css">

<h2><i class="bi bi-list-check"></i> Результаты теста '@Model.Test.Title'</h2>
<hr>

@foreach (Attempt attempt in Model.Attempts)
{
    @if (!attempt.Active)
    {
        int percent = (int)((attempt.Balls / attempt.MaxBalls) * 100);
        <div class="flex-wrapper">
            <div class="single-chart-sm">
                <svg viewBox="0 0 36 36" class="circular-chart green">
                    <path class="circle-bg"
                  d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <path class="circle"
                  stroke-dasharray="@percent, 100"
                  d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <text x="18" y="20.35" class="percentage">@attempt.Balls / @attempt.MaxBalls</text>
                </svg>
            </div>
            <div class="center">
                <h5>
                    <a asp-controller="Test" asp-action="Attempt" asp-route-id="@attempt.Id">Попытка от @attempt.TimeStarted.ToString("dd.MM.yyyy HH:mm:ss")</a>
                </h5>
                @{
                    IdentityUser user = await userManager.FindByIdAsync(attempt.UserId);
                }
                <h5>Пользователь: @user.UserName</h5>
            </div>
        </div>
    }
    <hr>
}